extends layout

block content 
  h1= title 

  ul 
    each element in list 
      li 
        a(href=element.url) #{element.name}
        if element.description 
          p #{element.description}

    else 
      li There are no elements.