doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      nav 
        a(href="/catalog")
          img#logo(src="https://styles.redditmedia.com/t5_2spu9/styles/communityIcon_8rm87o624k331.png" alt="logo") 
        ul 
          li 
              a(href="/catalog") Home
          li 
            a(href="/catalog/weapons") Weapons
          li 
            a(href="/catalog/manufacturers") Manufacturers 
          li 
            a(href="/catalog/types") Types 
          li 
            a(href="/catalog/elements") Elements 
          li 
            a(href="/catalog/rarities") Rarities
    block content
