extends layout 

block content 
  h1= title 

  form(method="POST" action="")
    .form-group
      label(for="name") Name: 
      input#name(type="text" placeholder="Name" name="name" value=(manufacturer === undefined ? "" : manufacturer.name))
    .form-group 
      label(for="description") Description:
      textarea#description(placeholder="Description" name="description" rows="5" cols="30" value=(description === undefined ? "" : manufacturer.description))
    button(type="submit") Submit

    p 
      a(href="/catalog/manufacturers") Return

  if errors 
    ul 
      for error in errors 
        li!= error.msg