extends layout

block content 
  h1= title 

  ul 
    each type in list 
      li 
        a(href=type.url) #{type.name}
        if type.description 
          p #{type.description}

    else 
      li There are no types.